@font-face {
    font-family: 'FontAwesome';
    src: url(./Assets/webfonts/fa-brands-400.woff2) format('woff2');
    font-weight: 400;
}
@font-face {
    font-family:'FontAwesome' ;
    src: url(./Assets/webfonts/fa-regular-400.woff2) format('woff2');
    font-weight: 400;
}
@font-face {
    font-family:'FontAwesome' ;
    src: url(./Assets/webfonts/fa-solid-900.woff2) format('woff2');
    font-weight: solid;
}
@font-face {
    font-family:'FontAwesome' ;
    src: url(./Assets/webfonts/fa-v4compatibility.woff2) format('woff2');
    font-weight: 400;
}

*{
    margin: 0;
    padding: 0;

}
body{
    direction: rtl;
    /* font-family: 'FontAwesome'; */

}
.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right,#25375b,#2d517a);
}
header{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
   font-family: 'FontAwesome';


}
header h1{
  /* font-size: 30px; */
  color:rgb(210, 208, 208);
}
.input{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.input input{
    width: 360px;
    height:38px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 8px;
    margin-left: 10px;
    font-family: 'FontAwesome';
    border: 3px solid rgb(11, 13, 14);
    background-color: rgb(237, 237, 237);
    direction: ltr;
    animation: pulse 2s infinite;
}
.input input:hover{
    color: aquamarine;
    background-color: #25375b;
    transition: all 0.3s ease;
   border: 2px solid aquamarine;
   
}
.input input:hover::placeholder{
    color: aquamarine;
}
@keyframes pulse {
    0%{
       box-shadow: 0 0 0 0 #f4f4f4;
    }
    70%{
        box-shadow: 0 0 0 3.5px rgb(17, 148, 204);
    }
    100%{
            box-shadow: 0 0 0 0 rgb(198, 203, 201);
    }
    
}
.input button{
    width: 50px;
    padding:8px ;
    border-radius: 8px;
    font-size: 16px;
    color: rgb(44, 36, 36);
    border: 3px solid rgb(11, 13, 14);
    animation: pulse 2s infinite;
}
.input button:hover{
    cursor: pointer;
    color: aquamarine;
    background-color: #25375b;
    transition: all 0.3s ease;
   border: 2px solid aquamarine;
}
.main-part{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    
}
.job-items{
    display: flex;
    margin-top: 20px;
    width: 500px;
    padding: 10px;
    height: 50px;
    border-radius: 8px;
    font-family:'FontAwesome';
}
.job-items:nth-child(odd){
    background: rgb(122, 154, 202);

}
.job-items:nth-child(even){
    background: #5fb1b7;

}
.job-items:nth-child(odd):hover{
    background-color:  rgb(95, 135, 194);
}
.job-items:nth-child(even):hover{
    background-color:   #3aa2aa;
}
.job-items span {
    align-content: center;
    flex-grow: 6;
    /* align-self: center; */
    /* min-width: 200px; */
    flex-basis: 200px;
    color: rgb(219, 217, 217);
}
.job-items .edit-button{
 flex-grow: 0.5;
 border-radius: 8px;
 margin-left: 15px;
 padding: 2px ;
 flex-basis: 20px;
 /* border: none; */
  font-size: 16px;
}
.job-items .del-button{
 flex-grow: 0.5;
 border-radius: 8px;
 margin-left: 10px;
 padding: 1.5px ;
 flex-basis: 20px;
 font-size: 16px;
}
.job-items button:hover{
    background-color: rgb(237, 210, 173);
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.4s ease;
}



